{% extends "base.html" %}

{% block css %}{% endblock css %}

{% block content %}
<h3 class="text-center">Add Security Guards</h3>
<div class="container w-25 mt-5">    
    <form action="" method="POST">
        {% csrf_token %}        
        <label for="">Start Time :</label>
        <input class="form-control" type="time" name="start" id="">
        <label for="">End Time :</label>
        <input class="form-control" type="time" name="end" id="">
        <div class="m-auto text-center mt-3">
            <input class="btn btn-danger w-100"type="submit" value="Edit Time">
        </div>        
    </form>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}